{% extends 'spotify/base.html' %}
{% load static %}
{% block title %}Home - Dumps Or Fire{% endblock %}
{% block home_active %}active{% endblock %}
{% block content %}
    <div class="inner cover" role="main">
        <h1 class="cover-heading" id="welcome-to-dumps-or-fire">
            Welcome to <span class="text-1">Dumps</span> Or <span class="text-2">Fire!</span>
        </h1>
        <p>
            Want to know if your playlist is fire or just a dumpster dive?
            Dumps Or Fire has the answer. Harnessing Spotify's API, this app will rate your
            music with no holds barred. Drop a title or share link and find out if your
            tunes are worth the hype.
        </p>
        <a href="{% url 'rate' %}" class="btn btn-lg btn-secondary">Rate your music</a>
    </div>
{% endblock %}
